* {
  margin: 0 auto;
  box-sizing: border-box;
}

.heading {
  text-align: center;
  margin-top: 40px;
  font-family: "Yeseva One", cursive;
}

body {
  background-color: #c49686;
}

#container {
  max-width: 1000px;
}

nav {
  display: flex;
  align-content: space-around;
  align-items: baseline;
  margin: 40px 30px 40px 30px;
}

button {
  background-color: #443036;
  border: none;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}

#sort_label {
  font-family: "Raleway", sans-serif;
}

#sorting {
  border-radius: 5px;
  border: none;
  height: 30px;
  padding: 7px;
}

.search_field {
  display: flex;
  margin-top: 40px;
}

#student_search {
  border-radius: 10px;
  width: 500px;
  border: none;
  height: 30px;
}

h2 {
  color: #3a1c19;
  font-family: "Yeseva One", cursive;
  line-height: 30px;
}

p {
  color: #3a1c19;
  font-family: "Raleway", sans-serif;
  line-height: 30px;
}

article {
  background-color: #efe3df;
  border-radius: 10px;
  width: 100%;
  padding: 25px 25px 25px 25px;
  display: flex;
}

.buttons_wrapper {
  display: flex;
  align-items: flex-end;
}

.buttons_wrapper button {
  margin: 0px 10px 10px 10px;
  cursor: pointer;
}

.display_box {
  background-color: #efe3df;
  border-radius: 15px;
  display: flex;
  padding: 7px;
  margin-bottom: 25px;
}

#popup {
  display: none;
  position: fixed;

  background-color: hsla(282, 14%, 12%, 0.74);
  height: 100vh;
  width: 100vw;
}

#popup .info {
  display: flex;
  width: 80%;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
  grid-gap: 20px;
}
